@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    color: #1E1E1E;
    background-color: #FFF;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #FFF, #FFF),
    url(images/bg.jpg);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins" , sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 15px;
  }
  .adidas-logo{
    width: 180px;
    height: 69px;
    transition: 1s;
      cursor: pointer;
  }
 
    nav{
      position: fixed;
      z-index: 99;
      width: 100%;
      background: transparent;
    }
    nav .wrapper{
      position: relative;
      padding: 0px 30px;
      height: 70px;
      line-height: 70px;
    
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
    .wrapper .nav-links{
      display: inline-flex;
    }
    .nav-links li{
      list-style: none;
    }
    .nav-links li a{
      color: #f2f2f2;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 9px 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links li a:hover{
      background: #3A3B3C;
      color: black !important;
    }
    .nav-links .mobile-item{
      display: none;
    }
    .nav-links .drop-menu{
      position: absolute;
      background: #242526;
      width: 180px;
      line-height: 45px;
      top: 85px;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }
    .nav-links li:hover .drop-menu{
      transition: all 0.3s ease;
      top: 70px;
      opacity: 1;
      visibility: visible;
    }
    .content{
      background: #242526;
      padding: 25px 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }
    .content .row img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .content .row header{
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 500;
    }
    .wrapper .btn{
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      display: none;
    }
    .wrapper .btn.close-btn{
      position: absolute;
      right: 30px;
      top: 10px;
    }
    nav input{
      display: none;
    }
    .icon-1{
      color: #1E1E1E !important;
    }
  .header-content{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 15%;
    margin-top: 35px;
    letter-spacing: 10px;
    width: 100%;
    
    
}

.footer{
  border-top: 1px solid #767677;
  background-color: #282c31;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.footer-ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.footer-li{
  width: auto;
  border-right: 1px solid #d3d7da;
  display: inline-block;
  padding: 0 20px;
  color: #d3d7da;
}
.footer-li2{
  display: inline-block;
  max-width: 15px 0;
  padding: 0 15px;
  color: #d3d7da;
}
.footer-p{
  font-size: 15px;
  cursor: pointer;
}



















  
  .hero {
    position: relative;
    width: 100%;
    height: 500px;
    background: rgb(50, 50, 50);
    background: url('img/edi_fw23_How_to_Lace_Sneakers_blog_image_03_d45b7ddb05.gif') no-repeat 50% 68% fixed;
    background-size: cover;
    overflow: hidden;
  }
  
  .hero h1{
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    padding: .3em;
    font-size: 3em;
    font-weight: 200;
    color: #f2f2f2;
  }
  





























  
  
  .gallery .title {
    font-size:clamp(2em, 4vw, 6em);
  }
  
  .gallery p {
    font-size:clamp(1.4em, 2.5vw, 3.5em);
    line-height:1.4;
  }
  
  
  .gallery {
    display:flex;	
  }
  
  .left {
    width:50%;
  }
  
  .right {
    height:100vh;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  
  .desktopContent {
    margin:auto;
    width:80%;
  }
  
  .desktopContentSection {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  
  
  .desktopPhotos {
    width:40vw;
    height:40vw;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
  }
  
  .desktopPhoto {
    position:absolute;
    width:100%;
    height:100%;
  }
  
  
  
  
  .red {
    background-image: url('img/l\ \(2\).gif');
    background-size: cover;
    background-position: center;
  }
  
  .green {
    background-image: url('img/l\ \(1\).gif');
    background-size: cover;
    background-position: center;
  }
  
  .blue {
    background-image: url('img/l\ \(3\).gif');
    background-size: cover;
    background-position: center;
  }
  
  .pink{
    background-image: url('img/l\ \(4\).gif');
    background-size: cover;
      background-position: center;
  }
  
  
  /* small screen / mobile layout */
  .mobileContent {
    display:none;
    width:80vw;
  }
  
  .mobilePhoto {
    width:80vw;
    height:80vw;
    margin-top:5em;
    border-radius:6vw;
  }
  
  @media screen and (max-width: 599px) {
    .left {
      display:none;
    }
    
    .right {
      height:auto;
      width:100%;
      align-items:center;	
    }	
    
    .desktopPhotos {
      display:none;
    }
    
    .mobileContent {
      display:block;
    }
    
  
  }
  
 
@media (max-width: 460px){
  .swiper-slide img{
    height: 114% !important;
    width: 70% !important;
  }
  .cost{
    bottom: 42px !important;
    font-size: 9px !important;
  }
  .shoes-name{
    font-size: 9px !important;
    margin-top: 31px !important;
    display: ruby-text ;
  }
  .product{
   justify-content: center;
   height: 196px !important;
  }
  .product-name{
    font-size: 12px !important;
    margin-left: 0px;
    margin-right: 0px;
  }
  .cost-1{
    bottom: 40px;
    font-size: 11px !important;
  }
  .logo{
    position: absolute;
    left: -12px;
  }
  .wrapper .nav-links{
    max-width: 100% !important;
  }
  .between{
    margin-left: 10px;
  }
}

@media (max-width: 580px){
  .container{
    grid-template-columns: repeat(2 , 1fr);
  }
  .img-fluid{
    width: 145px;
    height: 155px;
  }
  .product{
    width: 157px;
    height: 215px;
    margin: 0px;
  }
  .cost-1{
    font-size: 13px;
  }
  .product-name{
    font-size: 15px;
    width: 100%;
  }
  .header-content{
    font-size: 20px;
  }
  .shoes-link{
    width: 121px;
    height: 200px;
    display: block;
  }
  .shoes-link:hover{
    z-index: 2222;

  }
  .footer-p{
    font-size: 10px;
  }
  .mt-1{
    margin-top: 30%;
  }
}
@media (max-width: 661px){
  .shoes-name{
    font-size: 12px;
    margin-left: 10px;
  }
  .cost{
    bottom: 28px;
    font-size: 11px;
  }
}
  @media (min-width: 580px) {
    .footer{
      width: 100%;
    }
    .container{
      grid-template-columns: repeat(2 , 1fr);
    }
  }
  @media (min-width: 800px) {
    .container{
      grid-template-columns: repeat(3 , 1fr);
    }
  }
@media (min-width: 1200px) {
    .container{
      grid-column-gap: 25px;
    }
    .header-content{
      font-size: 45px;
    }
    .product-name{
      font-size: 22px;
    }
    .between{
      width: 100%;
    }
    .cost-1{
      font-size: 19px;
    }
    .shoes-name{
      font-size: 22px;
    }
    .cost{
      bottom: 44px;
      font-size: 19px;
    }
    .footer-p{
      font-size: 22px;
    }
    .container{
      grid-template-columns: repeat(3 , 1fr);
    }
    
  }
  @media (min-width: 1600px){
    
  .swiper-slide img{
    width: 60%;
  }
  .footer-p{
    font-size: 27px;
  }
  .mt-1{
    margin-top: 10%;
  }
  .navbar a{
    font-size: 2.5rem;
  }

  }
  @media (max-width: 700px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100%;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #242526;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }

  }

























































  